server:
  port: 8081
  context-path: /demo

spring:
    datasource:
        name: test
        url: jdbc:mysql://10.8.48.234:3308/pws
        username: spfood
        password: SPfood123#
        # 使用druid数据源
        type: com.alibaba.druid.pool.DruidDataSource
        driver-class-name: com.mysql.jdbc.Driver
        filters: stat
        maxActive: 20
        initialSize: 1
        maxWait: 60000
        minIdle: 1
        timeBetweenEvictionRunsMillis: 60000
        minEvictableIdleTimeMillis: 300000
        validationQuery: select 'x'
        testWhileIdle: true
        testOnBorrow: false
        testOnReturn: false
        poolPreparedStatements: true
        maxOpenPreparedStatements: 20

mybatis:
  mapperLocations: classpath:mapper/*.xml
  typeAliasesPackage: com.dark.
  typeHandlersPackage: com.dark.dao.*

# LOGGING
logging:
    level:
       com.ibatis:DEBUG

projectMessage:
    name: springboot--dev
    des: this is a demo.